/* 顶部导航栏部分 */
.nav {
  min-width: 1000px;
  height: 60px;
  background: #aad2c7;
}
.nav-ul {
  position: absolute;
  width: 1000px;
  margin: 0 auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.nav-li {
  float: left;
  max-width: 100px;
  min-width: 80px;
  line-height: 58px;
  text-align: center;
  box-sizing: border-box;
  list-style: none;
  /* 超出部分出现省略号 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav-a {
  font-size: 16px;
  color: #fff;
}
.navLiMouseOver {
  border-top: 3px solid #ff8400;
  background-color: white;
}
.navLiMouseOut {
  border-top: transparent;
  background-color: transparent;
}
.navaMouseOver {
  color: #ff8400;
}
.navaMouseOut {
  color: #fff;
}

/* 内容部分 */
.container {
  position: absolute;
  width: 1000px;
  margin: 0 auto;
  min-height: 650px;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /* background: #eee; */
  color: #fff;
}
.con-box {
  padding-top: 20px;
  display: none;
}
.con-tasks-newBg {
  width: 100px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-image: url("../assets/imgs/cloud.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.tasksNewDialog {
  border: none;
  background-color: transparent;
  outline: none;
}
.con-tasks {
  position: relative;
  width: 100%;
  height: 250px;
  padding: 20px 0;
  /* background: pink; */
}
.con-tasks-tip {
  font-size: 18px;
  color: #ff8400;
}
.con-tasks-choose {
  position: absolute;
  right: 0px;
  top: 18px;
}
.con-tasks-ul {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

/* 今日待办 */
.con-task-li {
  display: block;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  color: #666;
  text-decoration: none;
  text-align: left;
  border-bottom: 1px solid #666;
  /* background: #ffffff; */
}

/* 弹窗 */
.diolog-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.diolog-con {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: #eee;
}
.diolog-tip {
  font-size: 20px;
  font-weight: 700;
}
.diolog-input {
  height: 60px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px;
}
.diolog-input label {
  width: 80px;
  text-align: right;
  font-size: 16px;
}
.diolog-input input {
  width: 250px;
  height: 30px;
  margin-top: 13px;
}
.diolog-input-btn {
  text-align: right;
}
