/* 顶部导航栏部分 */
.nav {
  min-width: 1000px;
  height: 60px;
  background: #aad2c7;
}
.nav-ul {
  position: absolute;
  width: 1000px;
  margin: 0 auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.nav-li {
  float: left;
  max-width: 100px;
  min-width: 80px;
  line-height: 58px;
  text-align: center;
  box-sizing: border-box;
  list-style: none;
  /* 超出部分出现省略号 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav-a {
  font-size: 16px;
  color: #fff;
}
.navLiMouseOver {
  border-top: 3px solid #ff8400;
  background-color: white;
}
.navLiMouseOut {
  border-top: transparent;
  background-color: transparent;
}

/* 内容部分 */
.container {
  position: absolute;
  width: 1000px;
  margin: 0 auto;
  min-height: 650px;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /* background: #eee; */
  color: #fff;
}
.con-box {
  display: none;
  /* background: #666; */
}
.con-tasks-newBg {
  width: 100px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-image: url("../assets/imgs/cloud.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.tasksNewDialog {
  border: none;
  background-color: transparent;
  outline: none;
}
.con-tasks {
  position: relative;
  height: 270px;
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid #eee;
  border-radius: 8px;
  /* background: red; */
}
.con-tasks-tip {
  font-size: 18px;
  color: #ff8400;
}
.con-tasks-choose {
  position: absolute;
  right: 20px;
  top: 18px;
}

/* 今日待办 */
.con-tasks-ul {
  position: absolute;
  top: 44px;
  bottom: 0px;
  left: 0;
  right: 0;
  overflow-y: scroll;
}
.con-task-li {
  position: relative;
  display: block;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;

  margin: 0 20px;
  text-decoration: none;
  text-align: left;
  border-bottom: 1px solid #666;
}

.taskLabel {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 40px;
  cursor: pointer;
  border: 1px solid #666;
}
.con-task-li input,
#selectAllTodo,
#selectAllDone {
  visibility: hidden;
}

#selectAllTodo:checked + label::before,
#selectAllDone:checked + label::before {
  display: block;
  content: "\2714";
  text-align: center;
  font-size: 16px;
  color: #eee;
}
.con-task-li label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 15px;
  cursor: pointer;
  border: 1px solid #666;
}
.con-task-li input:checked + label::before {
  position: absolute;
  content: "\2714";
  font-size: 16px;
  top: -10px;
  left: 4px;
  /* color: #ff8400; */
  color: #999;
}
.con-task-li span {
  padding-left: 40px;
}
.con-task-li button {
  float: right;
  width: 60px;
  height: 40px;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  outline: 0;
  color: #666;
  background: transparent;
  cursor: pointer;
}
.nullList {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #666;
  font-size: 30px;
}

/* 未完成 */
.allNotDone,
.allList {
  position: relative;
  margin-top: 10px;
  padding: 10px 20px;
  min-height: 600px;
  border: 1px solid #eee;
  border-radius: 8px;
  /* background: red; */
}

.con-todo-ul,
.allNotDone {
  color: #666;
}
.con-done-ul,
.allList {
  color: #999;
}
.con-done-ul span,
.allListUl span {
  text-decoration: line-through solid #999 2px;
}
.con-tasks-bg {
  width: 100px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

/* 未完成 */
.notDoneBox,
.allListBox {
  width: 100%;
  min-height: 100px;
  margin-top: 20px;
  /* background: red; */
}
.notDoneData,
.allListData {
  color: #ff8400;
  font-size: 24px;
}
.notoDoneUl,
.allListUl {
  margin-top: 15px;
}

/* 弹窗 */
.dialog-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.dialog-con {
  position: relative;
  width: 400px;
  height: 250px;
  margin: 0 auto;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: #eee;
}
.dialog-tip {
  font-size: 20px;
  color: #ff8400;
  font-weight: 700;
}
.dialog-input {
  height: 60px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px;
}
.dialog-input label {
  width: 100px;
  text-align: right;
  font-size: 16px;
}
.dialog-input input {
  width: 250px;
  height: 30px;
  margin-top: 13px;
  outline: none;
}
.dialog-input-btn {
  text-align: right;
}
.dialog-input-btn button {
  margin-right: 10px;
}
