.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* 顶部导航栏部分 */
.nav {
  position: relative;
  width: 100vw;
  height: 60px;
  background: #aad2c7;
}
.nav-ul {
  position: absolute;
  width: 80vw;
  min-width: 20rem;
  height: 100%;
  margin: 0 auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.nav-li {
  float: left;
  max-width: 8vw;
  min-width: 5rem;
  line-height: 55px;
  text-align: center;
  box-sizing: border-box;
  list-style: none;
  /* 超出部分出现省略号 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav-a {
  font-size: 16px;
  color: #fff;
}
.nav-li-mouse-over {
  border-top: 3px solid #ff8400;
  background-color: white;
}
.nav-li-mouse-out {
  border-top: transparent;
  background-color: transparent;
}

/* 内容部分 */
.container {
  width: 100%;
  flex: 1;
  color: #fff;
}
.con-box {
  display: none;
  width: 80vw;
  min-width: 20rem;
  margin: 0 auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /* background: #eee; */
}
.con-tasks-newBg {
  width: 100px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-image: url("../assets/imgs/cloud.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.tasks-new-dialog {
  border: none;
  background-color: transparent;
  outline: none;
}
.con-tasks {
  position: relative;
  height: 34.5vh;
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid #eee;
  border-radius: 8px;
}
.con-tasks-tip {
  font-size: 18px;
  color: #ff8400;
}
.con-tasks-choose {
  position: absolute;
  right: 20px;
  top: 18px;
}

/* 今日待办 */
.con-tasks-ul {
  position: absolute;
  top: 44px;
  bottom: 0px;
  left: 0;
  right: 0;
  overflow-y: scroll;
}
.con-task-li {
  position: relative;
  display: block;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 20px;
  text-decoration: none;
  text-align: left;
  border-bottom: 1px solid #666;
}

.taskLabel {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 40px;
  cursor: pointer;
  border: 1px solid #666;
}
.con-task-li input,
#selectAllTodo,
#selectAllDone {
  visibility: hidden;
}

#selectAllTodo:checked + label::before,
#selectAllDone:checked + label::before {
  display: block;
  content: "\2714";
  text-align: center;
  font-size: 16px;
  color: #eee;
}
.con-task-li label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 15px;
  cursor: pointer;
  border: 1px solid #666;
}
.con-task-li input:checked + label::before {
  position: absolute;
  content: "\2714";
  font-size: 16px;
  top: -10px;
  left: 4px;
  /* color: #ff8400; */
  color: #999;
}
.con-task-li span {
  background: #fff;
  display: inline-block;
  vertical-align: bottom;
  width: 20vw;
  padding-left: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.con-task-li button {
  float: right;
  width: 60px;
  height: 40px;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  outline: 0;
  color: #666;
  background: transparent;
  cursor: pointer;
}
.emity-list {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #666;
  font-size: 1.8rem;
}

/* 完成 */
.allDone,
.allNotDone,
.allRecycle {
  position: relative;
  margin-top: 10px;
  padding: 10px 20px;
  min-height: 75vh;
  border: 1px solid #eee;
  border-radius: 8px;
  /* background: #666; */
}
.con-todo-ul,
.allNotDone,
.recycleUl {
  color: #666;
}
.con-done-ul,
.allDone {
  color: #999;
}
.con-done-ul span,
.doneUl span {
  text-decoration: line-through solid #999 2px;
}
.con-tasks-bg {
  width: 100px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

/* 未完成与完成 */
.notDoneBox,
.doneBox,
.recycleUl {
  width: 100%;
  min-height: 100px;
  margin-top: 20px;
}
.notDoneBox .con-task-li,
.doneBox .con-task-li,
.recoverBox .con-task-li {
  margin: 0;
}
.notDoneData,
.doneData {
  color: #ff8400;
  font-size: 24px;
}
.notoDoneUl,
.doneUl {
  margin-top: 15px;
}
/* 回收站 */
/* 清空 */
.clearAll {
  width: 60px;
  height: 32px;
  font-size: 16px;
  border: none;
  outline: 0;
  color: #fff;
  background: #ff8400;
  cursor: pointer;
}
/* 序号 */
.recoverLabel {
  text-align: center;
  line-height: 20px;
}
/* 弹窗 */
.dialog-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.dialog-con {
  position: relative;
  width: 280px;
  height: 250px;
  margin: 0 auto;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: #eee;
}
.dialog-tip {
  font-size: 20px;
  color: #ff8400;
  font-weight: 700;
}
.dialog-input {
  height: 60px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  width: 84%;
  margin: 20px;
}
.dialog-input label {
  width: 140px;
  text-align: right;
  font-size: 16px;
}
.dialog-input input {
  width: 250px;
  height: 30px;
  margin-top: 13px;
  outline: none;
}
.dialog-input-btn {
  text-align: right;
}
.dialog-input-btn button {
  margin-right: 10px;
}
